@model IEnumerable<Slider>

@{
    ViewData["Title"] = "Sliderlar";
}
<p>
    <a asp-action="Create" class="btn btn-outline-primary">
        <i class="fa-solid fa-plus"></i>Yeni Ekle</i>
    </a>
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Description)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @* <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td> *@
                <td>
                    <a href="/Img/Sliders/@item.Image" target="_blank" title="Büyük görüntüle">
                        <img src="/Img/Sliders/@item.Image" alt="@item.Title" class="slider-preview" style="height: 60px; width: auto; max-width: 120px;" />
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    <div class="d-flex gap-2 justify-content-end">
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id" title="Düzenle"><i class="fa-solid fa-user-pen"></i></a>
                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id" title="Detaylar"><i class="fa-solid fa-eye"></i></a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id" title="Sil"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
